@model CVGS.Models.Game

@{
    ViewData["Title"] = "Add a new Game";
}

<h1>@ViewData["Title"]</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EnglishName" class="control-label"></label>
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishPlayerCount" class="control-label"></label>
                <input asp-for="EnglishPlayerCount" class="form-control" />
                <span asp-validation-for="EnglishPlayerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsrbRatingCode" class="control-label"></label>
                <select asp-for="EsrbRatingCode" class="form-control" asp-items="ViewBag.EsrbRatingCode"></select>
                <span asp-validation-for="EsrbRatingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameCategoryId" class="control-label"></label>
                <select asp-for="GameCategoryId" class="form-control" asp-items="ViewBag.GameCategoryId"></select>
                <span asp-validation-for="GameCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GamePerspectiveCode" class="control-label"></label>
                <select asp-for="GamePerspectiveCode" class="form-control" asp-items="ViewBag.GamePerspectiveCode"></select>
                <span asp-validation-for="GamePerspectiveCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStatusCode" class="control-label"></label>
                <select asp-for="GameStatusCode" class="form-control" asp-items="ViewBag.GameStatusCode"></select>
                <span asp-validation-for="GameStatusCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSubCategoryId" class="control-label"></label>
                <select asp-for="GameSubCategoryId" class="form-control" asp-items="ViewBag.GameSubCategoryId"></select>
                <span asp-validation-for="GameSubCategoryId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FrenchName" />
            @*<div class="form-group">
            <label asp-for="FrenchName" class="control-label"></label>
            <input asp-for="FrenchName" class="form-control" />
            <span asp-validation-for="FrenchName" class="text-danger"></span>
        </div>*@
            
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="FrenchVersion" /> @Html.DisplayNameFor(model => model.FrenchVersion)
            </label>
        </div>*@
            <input type="hidden" asp-for="FrenchPlayerCount" />
            @*<div class="form-group">
            <label asp-for="FrenchPlayerCount" class="control-label"></label>
            <input asp-for="FrenchPlayerCount" class="form-control" />
            <span asp-validation-for="FrenchPlayerCount" class="text-danger"></span>
        </div>*@
            <input type="hidden" asp-for="EnglishTrailer" />
            @*<div class="form-group">
            <label asp-for="EnglishTrailer" class="control-label"></label>
            <input asp-for="EnglishTrailer" class="form-control" />
            <span asp-validation-for="EnglishTrailer" class="text-danger"></span>
        </div>*@
            <input type="hidden" asp-for="FrenchTrailer" />
            @*<div class="form-group">
            <label asp-for="FrenchTrailer" class="control-label"></label>
            <input asp-for="FrenchTrailer" class="form-control" />
            <span asp-validation-for="FrenchTrailer" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="EnglishDescription" class="control-label"></label>
                <input asp-for="EnglishDescription" class="form-control" />
                <span asp-validation-for="EnglishDescription" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FrenchDescription" />
            @*<div class="form-group">
            <label asp-for="FrenchDescription" class="control-label"></label>
            <input asp-for="FrenchDescription" class="form-control" />
            <span asp-validation-for="FrenchDescription" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="EnglishDetail" class="control-label"></label>
                <input asp-for="EnglishDetail" class="form-control" />
                <span asp-validation-for="EnglishDetail" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FrenchDetail" />
            @*<div class="form-group">
            <label asp-for="FrenchDetail" class="control-label"></label>
            <input asp-for="FrenchDetail" class="form-control" />
            <span asp-validation-for="FrenchDetail" class="text-danger"></span>
        </div>*@
            <input type="hidden" asp-for="UserName" />
            @*<div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
