@page
@model CVGS.Areas.Identity.Pages.Account.Manage.AddressEditModel
@{
    if (Model._isMailing)
    {
        ViewData["Title"] = "Edit Mailing Address";
    }
    else
    {
        ViewData["Title"] = "Edit Shipping Address";
    }
    ViewData["ActivePage"] = ManageNavPages.Addresses;
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="address-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Id" />
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ApartmentNumber"></label>
                <input asp-for="Input.ApartmentNumber" class="form-control" />
                <span asp-validation-for="Input.ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Street"></label>
                <input asp-for="Input.Street" class="form-control" />
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PostalCode"></label>
                <input asp-for="Input.PostalCode" class="form-control" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Input.CountryCode" class="control-label"></label>
                @Html.DropDownList("Input.CountryCode", (SelectList)ViewBag.CountryCode, new { onchange = "this.form.submit();", @class = "form-control" })
                <span asp-validation-for="Input.CountryCode" class="text-danger"></span>
            </div>
            @if (Model.ValidCountry(Model.Input.CountryCode))
            {
                <div class="form-group">
                    <label asp-for="Input.ProvinceCode" class="control-label"></label>
                    <select asp-for="Input.ProvinceCode" class="form-control" asp-items="ViewBag.ProvinceCode"></select>
                    <span asp-validation-for="Input.ProvinceCode" class="text-danger"></span>
                </div>
            }
            <button id="edit-address" type="submit" class="btn btn-primary">Save</button>
            | <a asp-page="Addresses">Back to Addresses</a>
        </form>
    </div>
</div>