@page
@model CVGS.Areas.Identity.Pages.Account.Manage.ChangePreferencesModel
@{
    ViewData["Title"] = "Change Preferences";
    ViewData["ActivePage"] = ManageNavPages.Preferences;

}

<h4>@ViewData["Title"]</h4>

