@page
@model CVGS.Areas.Identity.Pages.Account.Manage.PreferencesIndexPageModel
@{
    ViewData["Title"] = "Preferences";
    ViewData["ActivePage"] = ManageNavPages.Preferences;

}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div>
            <hr />
            <h6>Platform Preferences</h6>
            <ul>
                @foreach (var item in Model.preferenceModel.platformPreferences)
                {
                    <li>
                        @item.PlatformCodeNavigation.EnglishName
                    </li>
                }
            </ul>
        </div>
        <div>
            <hr />
            <h6>Category Preferences</h6>
            <ul>
                @foreach (var item in Model.preferenceModel.categoryPreferences)
                {
                    <li>
                        @item.Gamecategory.EnglishCategory
                    </li>
                }
            </ul>
        </div>
        <div>
            <hr />
            <h6>Subcategory Preferences</h6>
            <ul>
                @foreach (var item in Model.preferenceModel.subCategoryPreferences)
                {
                    <li>
                        @item.GameSubcategory.EnglishCategory
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<a class="nav-link" id="change-preferences" asp-page="ChangePreferences">Change Preferences</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
