@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CVGS</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis hendrerit nibh, sit amet euismod arcu. Fusce sem massa, elementum eu massa eu, 
        sodales placerat mauris. Mauris ac augue sodales, volutpat odio id, tempor felis. Praesent dignissim porta arcu, at fringilla nunc viverra eget. Mauris
        libero ante, molestie a metus malesuada, consectetur vulputate velit. Nulla quis dapibus diam, at lobortis elit. Aliquam condimentum vel elit ut 
        cursus. Proin nec elementum purus. Ut quis dapibus dui. Maecenas euismod porta feugiat. Mauris urna odio, gravida vitae elementum at, cursus sed sapien. Nunc 
        ullamcorper est eu lacus porta, quis dictum lorem laoreet. Phasellus rhoncus, nunc id malesuada pulvinar, purus purus laoreet lorem,
        ut interdum lectus tellus nec turpis. Curabitur molestie, felis a faucibus rhoncus, ligula libero accumsan metus, nec consequat quam arcu at odio.
    </p>

    
    <img src="~/Images/GamerZone.jpg" width="500" height="800"/>
    <br />
    <p>Fusce venenatis finibus erat eget fermentum. Etiam purus dolor, cursus ac est id, blandit congue risus. Aliquam commodo ligula vel
    lectus semper convallis ac eu sapien. Aenean eu nulla neque. Cras vulputate et odio non ullamcorper. Quisque at quam mattis, ullamcorper
    sem in, facilisis quam. Morbi condimentum orci et turpis mattis accumsan. Proin eu volutpat lectus. Morbi aliquam id ex eget aliquam. Pellentesque 
    a semper ante. In enim lacus, blandit at augue at, iaculis venenatis turpis. Integer nec sapien at libero tincidunt ornare finibus at erat. Ut 
    mattis luctus sapien eu varius. Morbi commodo efficitur augue ut luctus.</p>

    
</div>
